[submodule "argparse"]
    path = argparse
    url = https://github.com/Cofyc/argparse.git
    ignore = dirty
[submodule "linenoise"]
    path = linenoise
    url = https://github.com/antirez/linenoise.git
    ignore = dirty
